<div class="art-textblock art-object227400126" >

</div>

<div >
<nav class="art-nav">
  <ul class="art-hmenu">



    <li><%= link_to "Home", "/home" %></li> 
   
    <li><%= link_to "Bio and Resume", "/bio_and_resume", class: "active" %>
        <ul class="active">
			<li><%= link_to "Goals", "/bio_and_resume/goals" %></li>
			<li><%= link_to "My Resumes", "/bio_and_resume/my_resumes" %></li>
			<li><%= link_to "Portfolios", "/bio_and_resume/portfolios" %></li>
			<li><%= link_to "Professional Bio", "/bio_and_resume/professional_bio" %></li>
			<li><%= link_to "Skills", "/bio_and_resume/skills"%></li>
			<li><%= link_to "Web Presence", "/bio_and_resume/web_presence" %></li>
		</ul>
	</li>
<!-- 
	    <li>< %= link_to "Contact Chris", new_contact_path %></li>
	    
	    <li>< % = link_to "Login", '/cgmusers/sign_in' %>
			    <ul class="active">
			    	< % = link_to "Login", '/cgmusers/sign_in' %>
					<li>< %= link_to "Logout", '/cgmusers/sign_out' %></li>
				</ul>
		</li>






  
 
--> 
  </ul>


</nav>
</div>