<div >
	<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
	<div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0;">
	<a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom 
	u-custom-top-bottom-menu-spacing u-nav-link u-text-active-grey-10 
	u-text-hover-palette-2-base" href="#">

	<li><%= link_to "Home", "/home" %></li> 
   
    <li><%= link_to "Bio and Resume", "/bio_and_resume", class: "active" %>
        <ul class="active">
			<li><%= link_to "Goals", "/bio_and_resume/goals" %></li>
			<li><%= link_to "My Resumes", "/bio_and_resume/my_resumes" %></li>
			<li><%= link_to "Portfolios", "/bio_and_resume/portfolios" %></li>
			<li><%= link_to "Professional Bio", "/bio_and_resume/professional_bio" %></li>
			<li><%= link_to "Skills", "/bio_and_resume/skills"%></li>
			<li><%= link_to "Web Presence", "/bio_and_resume/web_presence" %></li>
		</ul>
	</li>
	</nav>
  </ul>
</div>