<h1>Christopher G. Mendla</h1>

<p>This is the personal/professional  site of Christopher G. Mendla from Southampton, PA.</p>

<p>I am a Ruby on Rails developer, technology consultant, manager and educator.
   You can find links to my professional web presence as well as some of my personal web presence.</p>


<h2>Related Sites</h2>

<ul>
	<li><strong><%= link_to "https://www.chrismendlatech.com", 'https://www.chrismendlatech.com', target:'_blank'%></strong> 
		– This is my technology blog. Please check it out for some great information about today’s technology.</li>
    <li><strong><%= link_to "http://stackoverflow.com/users/3034720/chris-mendla", 'http://stackoverflow.com/users/3034720/chris-mendla', target: '_blank'%></strong> 
    	- Chris Mendla on Stack Overflow</li>
	<li><strong><%= link_to "https://www.chrismendlatech.com", 'https://www.chrismendlatech.com', target: '_blank' %> </strong> 
		– This is my consulting website.</li>
	<li><strong><%= link_to "https://www.linkedin.com/in/christophergmendla", 'https://www.linkedin.com/in/christophergmendla', target:'_blank'%></strong>  
		– My Linked In Profile</li>
	<li><strong><%= link to "https://twitter.com/cgmendla", 'https://twitter.com/cgmendla', target:'_blank'%></strong></li>	
	<li><strong><%= link to "https://github.com/cmendla", 'https://github.com/cgmendla', target:'_blank'%></strong></li>	
</ul>

