<h1>Professional goals, bio and resume</h1>

	<li><%= link_to "Goals", "/bio_and_resume/goals" %></li>
	<li><%= link_to "My Resumes", "/bio_and_resume/my_resumes" %></li>
	<li><%= link_to "Portfolios", "/bio_and_resume/portfolios" %></li>
	<li><%= link_to "Professional Bio", "/bio_and_resume/professional_bio" %></li>
	<li><%= link_to "Skills", "/bio_and_resume/skills"%></li>
