<h1>Christopher G. Mendla</h1>

<p>This is the personal/professional  site of Christopher G. Mendla from Southampton, PA.</p>

<p> My most recent position was with USCIS (United States Custom and Immigration Service) as a 100% remote Ruby on Rails Developer. 
Due to funding shortfalls related to Covid-19, 20 percent of our developers were let go in July 2020. </p>

<p> You can find links to my professional web presence as well as some of my personal web presence. </p>

<p>I am currently available for a postition as a Full Stack Ruby on Rails Developer, IT Manager or Projecte Manager as of 2/4/2018</p>

<h2>Professional goals are:</h2>

<ul>
	<li>To find a match for my knowledge and skills as a Ruby on Rails developer</li>
	<li>To continue to build my knowledge and skills.</li>
	<li>To excel in a challenging environment.</li>
</ul>


<h2>Related Sites and web presence</h2>

<ul>
	<li><strong><%= link_to "My Tech Blog", 'https://www.chrismendlatech.com', target: '_blank' %> </strong> </li>
	<li><strong><%= link_to "LinkedIn Profile", 'https://www.linkedin.com/in/christophergmendla', target:'_blank'%></strong></li>
	<li><strong><%= link_to "Twitter Profile", 'https://twitter.com/cgmendla', target:'_blank'%></strong></li>	
	<li><strong><%= link_to "GitHub Profile", 'https://github.com/cmendla', target:'_blank'%></strong></li>	
	<li><strong><%= link_to "Stack Overflow Profile", 'http://stackoverflow.com/users/3034720/chris-mendla', target:'_blank'%></strong></li>	
</ul>


