<h1>Portfolios</h1>
	
<ul>
<li><strong><%= link_to "Mt. Auburn - Map", 'http://www.mtauburn.us/property-mngt/interactive-map', target: '_blank' %> </strong>
	Wrote custom Javascript to handle the display of the map. </li>
<li><strong><%= link_to "Mt. Auburn - 360", 'http://www.mtauburn.us/property-mngt/mt-auburn-360', target: '_blank'%></strong> 
	Wrote custom Javascript to handle the image display of the 360 graphic </li>	
<li><strong><%= link_to "christopherg.mendla.com", 'http://christopherg.mendla.com'%> </strong>
	This site (christopherg.mendla.com) is a Ruby 2.x / rails 4.x site </li>
	<ul>
		<li>Hosted on Digital Ocean running Ubuntu/Postgres</li>
		<li>Created using Aptana as the IDE</li>
		<li>Custom template created using Artisteer</li>
	</ul>
<li><strong><%= link_to "Hillman Brass and Copper", 'http://www.hillmanbrass.com', target: '_blank' %></strong> A Joomla 3.x site 
	plus support for Google Analytics and periodic maintenance	</li>
</ul>	
<li><strong><%= link_to "Bristol and Taylor Garage", 'http://bristolandtaylorgarage.com', target: '_blank'%></strong>A Joomla 3.x site.</li>
