<h1>Web Presence</h1>
<br>
<%= link_to "<button>My Blog</button>".html_safe, 'http://blog.chrismendlatech.com', target:'_blank', class: 'button'%> <br />
<%= link_to "<button>StackOverflow</button>".html_safe, 'http://stackoverflow.com/users/3034720/chris-mendla', target: '_blank'%><br />
<%= link_to "<button>LinkedIn</button>".html_safe, 'https://www.linkedin.com/in/christophergmendla', target:'_blank'%><br>
<%= link_to "<button>Google Plus</button>".html_safe, 'https://plus.google.com/+cmendla/about', target:'_blank'%><br>
<%= link_to "<button>Github</button>".html_safe, 'https://github.com/cmendla-cct', target: '_blank' %><br>