<!DOCTYPE html>
<meta charset="UTF-8">

<head>
<html dir="ltr" lang="en-US">
	
<!-- Created by Artisteer v4.3.0.60745 -->
<meta charset="utf-8">
	
  <title>Christopher G. Mendla - Personal and Professional Site</title>
  
 <!-- From ruby begin --> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <!-- From end begin --> 


 <!-- The following is added to connect the template to ruby --> 
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= stylesheet_link_tag "style" %>                        <!-- From template   -->
  <%= stylesheet_link_tag "style.ie7" %>                    <!-- From template   -->
  <%= stylesheet_link_tag "style.responsive" %>             <!-- From template   -->
  <%= javascript_include_tag "script.js" %>                 <!-- From template   -->
<!--  < %= javascript_include_tag "jquery.are-you-sure" %>    -->   <!-- Dirty form checker   -->

 



  <%= csrf_meta_tags %> <!--  cross-site request forgery protection parameter   -->



  <!-- from template begin -->

 <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
 
 
  <!--  The line  below is from http://www.hsrtech.com/psd-to-html/conditional-comments-ie11  and
        should fix the ie 11 issue where the components are not in the correct positions  -->

  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">


 


<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 15px;padding-left: 15px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style>
  <!-- from template end -->
  
</head>


  <!-- ---------------------------------------  body ---------------------------------- -->

<body>

<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        
            </div>

<p class="art-headline">
    <a href="/">Christopher G. Mendla - Personal and Professional Site</a>
<p>
<h2 class="art-slogan">You've found Chris Mendla from Southampton, PA</h2>

    <%= render :partial => 'shared/nav' %>
    

<div class="art-textblock art-object227400126">
    <form class="art-search" name="Search" action="javascript:void(0)">
    <input type="text" value="">
    <input type="submit" value="Search" name="search" class="art-search-button">
</form>
</div>

                    
</header>



<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                      
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">

</div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


<%= yield %>









<footer class="art-footer">
<p>Copyright © 2015 by Christopher G. Mendla. All Rights Reserved.<br></p>
</footer>

    </div>
</div>
<%= javascript_tag do %>


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-475467-29', 'auto');
  ga('send', 'pageview');


<% end%>
</body></html>

